* {
  font-family: Montserrat;
  margin: 0;
  padding: 0;
}

:root {
  --accent-color: #f2a93b;
  --gray-color: #f1f0f0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--gray-color);
  padding-bottom: 1em;
}

main {
  margin-inline: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 1.8em;
  padding: 0.5em;
  padding-bottom: 0.3em;
  color: var(--accent-color);
}

.s-message {
  color: var(--accent-color);
}

.input-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.input-main {
  border-radius: 2em;
  padding: 0.5em;
  padding-left: 1em;
  width: 60%;
  max-width: 60em;
  color: var(--accent-color);
  outline: none;
  border: 2px solid var(--gray-color);
  margin: 1em;
}

.stats-icon {
  width: 2em;
  filter: invert(78%) sepia(75%) saturate(969%) hue-rotate(327deg) brightness(96%) contrast(98%);
  margin-left: -2em;
}

.button-wrapper {
  display: flex;
  align-items: center;
  gap: 3em;
}

.sort-button {
  background-color: var(--accent-color);
  border-radius: 2em;
  padding: 1em;
  min-width: 13em;
  font-size: 0.8em;
  font-weight: bold;
  border: 0;
  position: relative;
}

.arrow-icon {
  width: 1.3em;
  position: absolute;
  bottom: 1em;
  right: 1em;
  display: none;
}

.country-cards-grid {
  background-color: var(--gray-color);
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1em;
}

.country-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 11em;
  background-color: white;
  padding: 1em;
  align-self: normal;
}

.flag {
  width: 80%;
  margin-bottom: 0.5em;
}

.country-name {
  color: var(--accent-color);
  font-size: 1.1em;
  margin-block: 0.5em;
  text-align: center;
}

.info-block {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.stats-section {
  background-color: var(--gray-color);
}
