:root {
  --main-color: #e5c9c5;
}

* {
  font-family: Montserrat;
}

h1 {
  text-align: center;
}

.main-input {
  font-size: 1em;
  padding: 0.5em;
  width: 10em;
  border: 2px solid var(--main-color);
}

input:focus {
  outline: none;
  border: 2px solid #eea498;
}

.add-player-button {
  padding-inline: 1em;
  font-size: 1em;
  background-color: var(--main-color);
  border: 0;
  color: white;
}

.trash-icon {
  filter: invert(12%) sepia(94%) saturate(6069%)
    hue-rotate(5deg) brightness(113%) contrast(121%);
  width: 1.3em;
}

.message-p {
  text-align: center;
}

.name-date-wrapper {
  padding-inline: 1em;
}

.player-card-p {
  text-align: center;
}

.player-card-date {
  color: #909090;
}

.player-entry-button {
  border-radius: 100%;
  width: 5em;
  height: 5em;
  margin: 1em;
  outline: 0;
  border: 0;
}

.player-entry-button:hover {
  background-color: #bdecb6;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.main-blocks-margins {
  margin-inline: 5em;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  gap: 0.3em;
}

.player-entry {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  background-color: var(--main-color);
  margin-top: 1em;
}
